

body { 
    margin: 0;
    height: 100%;
}
.header {
    padding: 25px;
    background: #d5e9e4
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    border: 0px solid green;

}

.logo-content {
    display: flex;
    flex-direction:row;
    align-items: center;
    border: 0px solid green;
    width: 80%;
}
.emp-text {
    text-align: center;
    font:  normal bold 22px Montserrat;
    letter-spacing: 0px;
    
    text-transform: capitalize;
    opacity: 1;
    color: #82A70C;
}
.emp-payroll {
    
    color:#42515F;
}




